@import "app.scss";
body {
    background: linear-gradient(
            to right,
            $illustrations-medium-green 100px,
            $illustrations-dark-green 100px
        )
        repeat-x;
    background-size: 200px 100%;
}
.error-page-wrapper {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    text-align: center;
    height: 100vh;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    h1 {
        font-size: 32px;
    }

    .text-and-action {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 16px;
        p {
            color: $color-wit;
            font-size: 16px;
        }
        button {
            width: 95%;
        }

        // .cta-error {
        //     font-style: italic;
        //     font-size: 16px;
        // }
    }
}
