@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Braah+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

$borel-font: "Borel", cursive;
$red-hat-font: "Red Hat Display", sans-serif;
$braah-font: "Braah One", cursive;

/* Basics - Mode 1 */
$color-black: black;
$color-base-rood: rgba(187, 1, 11, 1);
$color-rood-10: rgba(241, 204, 206, 1);
$color-base-turquoise: rgba(19, 128, 110, 1);
$color-rood-20: rgba(232, 170, 174, 1);
$color-wit: rgba(255, 255, 255, 1);
$color-rood-30: rgba(221, 128, 133, 1);
$color-turquoise-10: rgba(208, 230, 226, 1);
$color-rood-40: rgba(210, 86, 92, 1);
$color-grijs: rgba(142, 142, 142, 1);
$color-turquoise-20: rgba(176, 213, 207, 1);
$color-turquoise-30: rgba(137, 192, 183, 1);
$color-turquoise-40: rgba(98, 170, 158, 1);
$color-turquoise-50: rgba(58, 149, 134, 1);
$color-turquoise-60: rgba(16, 107, 92, 1);
$color-turquoise-70: rgba(13, 85, 73, 1);
$color-turquoise-80: rgba(10, 64, 55, 1);
$color-turquoise-90: rgba(6, 43, 37, 1);
$color-rood-50: rgba(198, 43, 52, 1);
$color-turquoise-100: rgba(4, 26, 22, 1);
$color-rood-60: rgba(156, 1, 9, 1);
$color-rood-70: rgba(125, 1, 7, 1);
$color-rood-80: rgba(94, 1, 6, 1);
$color-rood-90: rgba(62, 0, 4, 1);
$color-rood-100: rgba(37, 0, 2, 1);
$illustrations-blue: rgba(201, 233, 244, 1);
$illustrations-dark-blue: rgba(38, 47, 51, 1);
$illustrations-brown: rgba(198, 156, 109, 1);
$illustrations-dark-brown: rgba(171, 138, 100, 1);
$illustrations-light-grey: rgba(217, 217, 217, 1);
$illustrations-grey: rgba(99, 96, 82, 1);
$illustrations-yellow: rgba(240, 211, 85, 1);
$illustrations-white: rgba(255, 255, 255, 1);
$illustrations-red: rgba(237, 93, 81, 1);
$illustrations-dark-red: rgba(42, 12, 10, 1);
$illustrations-green: rgba(0, 180, 148, 1);
$illustrations-medium-green: rgba(0, 153, 124, 1);
$illustrations-dark-green: rgba(13, 135, 112, 1);
$keyboard-light-grey: rgba(204, 206, 211, 1);
$keyboard-black: rgba(0, 0, 0, 1);
$keyboard-white: rgba(255, 255, 255, 1);
$keyboard-grey: rgba(173, 179, 188, 1);
$keyboard-dark-grey: rgba(80, 85, 92, 1);
$color-input-error: #dc4c64;
$color-input-error-text: #88454f;
$color-input-error-background: #f1d7da;
$color-input-error-border: #edc6ca;
$color-input-error-highcontrast-text: #bb010b;
