//reset
@import "../css/reset.css";

//variables
@import "_variables";
h1 {
    font-family: $borel-font;
    font-size: 24px;
    color: $color-wit;
    line-height: 1.4;
    margin: 0;
    vertical-align: middle;
}
h2 {
    font-family: $braah-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: $color-turquoise-90;
}
p {
    font-family: $red-hat-font;
    font-size: 16px;
    line-height: 24px;
    color: $color-turquoise-60;
}
span {
    font-family: $red-hat-font;
    font-size: 16px;
    line-height: 24px;
    color: $color-black;
}
a {
    font-family: $braah-font;
    font-size: 20px;
    line-height: 24px;
    color: $color-wit;
    text-decoration: none;
}
button {
    background-color: $color-turquoise-10;
    color: $color-turquoise-90;
    font-family: $braah-font;
    letter-spacing: 1.5px;
    height: 60px;
    font-weight: 200;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: inset 2px -4px 4px $color-turquoise-30;

    &:hover {
        transform: translateY(-4);
    }

    &:focus {
    }
}
input {
    font-family: $red-hat-font;
    font-size: 20px;
    color: $color-turquoise-90;
    background-color: $color-wit;
    border: 2px solid $color-grijs;
    outline: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px 0;
    height: 68px;
    width: 100%;
}
.input-error {
    border: 2px solid $color-input-error;
}

body {
    background: linear-gradient(
            to right,
            $illustrations-medium-green 100px,
            $illustrations-dark-green 100px
        )
        repeat-x;
    background-size: 200px 100%;
}
.footer {
    position: fixed;
    bottom: -16px;
    left: 0;
    width: 100vw;
    height: 185px;
    background-image: url("../../public/images/footer.png");
    background-repeat: repeat;
    background-position: center;
    z-index: 10;
    pointer-events: none;
}
@media (min-width: 1024px) {
    .gingerman,
    .candy,
    .snow {
        display: none;
    }
}
@media (max-height: 770px) {
    .footer {
        display: none;
    }
}
.gingerman {
    position: fixed;
    top: 50%;
    right: -35px;
    height: 105px;
    width: 105px;
    background-image: url("../../public/images/gingerbread.png");
    background-size: cover; /* Ensures the background image covers the container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    z-index: 10;
}
.candy {
    position: fixed;
    top: 60%;
    left: -55px;
    height: 105px;
    width: 105px;
    background-image: url("../../public/images/candy-cane.png");
    background-size: cover; /* Ensures the background image covers the container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    z-index: 10;
}
.snow {
    position: fixed;
    top: 15%;
    left: -50px;
    height: 105px;
    width: 105px;
    background-image: url("../../public/images/snow-globe.png");
    background-size: cover; /* Ensures the background image covers the container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    z-index: 10;
}
.snow,
.candy,
.gingerman {
    pointer-events: none;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.content {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    //margin-top: 96px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.error {
    background-color: $color-input-error-background;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid $color-input-error-border;
    color: $color-input-error-text;
}
.error-text {
    color: $color-input-error-highcontrast-text;
}
#app {
    position: relative;
    top: 76px;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: calc(100vh - 76px);
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    background: linear-gradient(
            to right,
            $illustrations-medium-green 100px,
            $illustrations-dark-green 100px
        )
        repeat-x;
    background-size: 200px 100%;
}
.window-intro {
    padding: 32px;
    background-color: $color-wit;
    border-radius: 15px;
    opacity: 0.75;
    margin-bottom: 82px;
    text-align: center;
    h1 {
        color: $color-black;
    }
    p {
        color: $color-black;
    }
}
