@import "_variables.scss";

h1 {
    font-family: $borel-font;
    font-size: 24px;
    color: $color-wit;
    line-height: 1.4;
    margin: 0;
    vertical-align: middle;
}
h2 {
    font-family: $braah-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: $color-turquoise-90;
}
h3 {
    font-family: $braah-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: $color-turquoise-90;
}
p {
    font-family: $red-hat-font;
    font-size: 16px;
    line-height: 24px;
    color: $color-turquoise-60;
}
span {
    font-family: $red-hat-font;
    font-size: 16px;
    line-height: 24px;
    color: $color-black;
}
a {
    font-family: $braah-font;
    font-size: 20px;
    line-height: 24px;
    color: $color-wit;
    text-decoration: none;
}
.clear-link {
    font-family: $red-hat-font;
    font-size: 16px;
    line-height: 24px;
    color: $color-turquoise-60;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: $color-turquoise-60;
}
button:not(
        .audio-wrapper button,
        .cookie-comply button,
        .cookie-comply__modal button
    ) {
    background-color: $color-turquoise-10;
    color: $color-turquoise-90;
    font-family: $braah-font;
    letter-spacing: 1.5px;
    height: 60px;
    font-weight: 200;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: inset 2px -4px 4px $color-turquoise-30;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    &:hover {
        transform: translateY(-4);
    }

    &:focus {
    }
}
input {
    font-family: $red-hat-font;
    font-size: 20px;
    color: $color-turquoise-90;
    background-color: $color-wit;
    border: 2px solid $color-grijs;
    outline: none;
    border-radius: 8px;
    padding: 4px 50px 4px 16px;
    margin: 10px 0;
    height: 60px;
    width: 100%;
}
.input-error {
    border: 2px solid $color-input-error;
}

body {
    background-color: $illustrations-dark-green;
    // background: linear-gradient(
    //         to right,
    //         $illustrations-medium-green 100px,
    //         $illustrations-dark-green 100px
    //     )
    //     repeat-x;
    // background-size: 200px 100%;
    // background-color: $illustrations-medium-green;
    // background-position: center;
}
@media (min-width: 1024px) {
    .gingerman,
    .candy,
    .snow {
        display: none;
        outline: none;
    }
    .footer {
        display: none;
    }
}
.footer {
    position: fixed;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 185px;
    background-image: url("../../public/images/footer.png");
    background-repeat: repeat;
    background-position: center;
    z-index: 1;
    pointer-events: none;
}
@media (max-height: 620px) {
    .footer {
        display: none;
    }
}
.gingerman {
    position: fixed;
    top: 50%;
    right: -35px;
    height: 105px;
    width: 105px;
    background-image: url("../../public/images/gingerbread.png");
    background-size: cover; /* Ensures the background image covers the container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    z-index: 10;
}
.candy {
    position: fixed;
    top: 60%;
    left: -55px;
    height: 105px;
    width: 105px;
    background-image: url("../../public/images/candy-cane.png");
    background-size: cover; /* Ensures the background image covers the container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    z-index: 10;
}
.snow {
    position: fixed;
    top: 15%;
    left: -50px;
    height: 105px;
    width: 105px;
    background-image: url("../../public/images/snow-globe.png");
    background-size: cover; /* Ensures the background image covers the container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    z-index: 10;
}
.gingerman,
.candy,
.snow {
    -webkit-tap-highlight-color: transparent;
}
.content {
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    //margin-top: 96px;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
    max-width: 780px;
    margin: 0 auto;
    pointer-events: none;
}
.content * {
    pointer-events: auto;
}
.error {
    background-color: $color-input-error-background;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid $color-input-error-border;
    color: $color-input-error-text;
}
.error-text {
    color: $color-input-error-highcontrast-text;
}
#app {
    position: relative;
    top: 76px;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: calc(100vh - 76px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: hidden;
    background: linear-gradient(
            to right,
            $illustrations-medium-green 100px,
            $illustrations-dark-green 100px
        )
        repeat-x;
    background-size: 200px 100%;
}
.fade-with-slide-enter-active,
.fade-with-slide-leave-active {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-with-slide-enter-from,
.fade-with-slide-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.fade-high-index-enter-active,
.fade-high-index-leave-active {
    transition: opacity 0.2s ease;
    z-index: 500;
}

.fade-high-index-enter-from,
.fade-high-index-leave-to {
    opacity: 0;
    z-index: 500;
}
