@import "_variables.scss";

.window-intro {
    padding: 32px;
    background-color: $color-wit;
    border-radius: 15px;
    margin-bottom: 82px;
    text-align: center;
    h1,
    p,
    a {
        color: $color-black;
    }
}
